<%= form_with(model: ranking) do |form| %>
  <% if ranking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ranking.errors.count, "error") %> prohibited this ranking from being saved:</h2>

      <ul>
        <% ranking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "ISBN番号" %>
    <%= form.text_field :isbn_number %>
  </div>

  <div class="field">
    <%= form.label "書籍名" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label "著者名" %>
    <%= form.text_field :author_name %>
  </div>

  <div class="field">
    <%= form.label "順位" %>
    <%= form.number_field :book_rank %>
  </div>
  
   <div class="field">
    <%= form.label "書籍表紙" %>
    <%= form.file_field :bookcover %>
  </div>
  
  <div class="actions">
    <%= form.submit "登録" %>
  </div>
<% end %>
