<p id="notice"><%= notice %></p>

<p>
  <strong>ISBN番号</strong>
  <%= @ranking.isbn_number %>
</p>

<p>
  <strong>書籍名</strong>
  <%= @ranking.title %>
</p>

<p>
  <strong>著者名</strong>
  <%= @ranking.author_name %>
</p>

<p>
  <strong>貸出</strong>
  <%= @ranking.lending %>
</p>

<p>
  <strong>冊数</strong>
  <%= @ranking.book_number %>
</p>

<p>
  <strong>ジャンル</strong>
  <%= @ranking.genre %>
</p>

<p>
  <strong>ブックカバー</strong>
  <%= @ranking.bookcover %>
</p>

<%= link_to '編集', edit_ranking_path(@ranking) %> |
<%= link_to '戻る', rankings_path %>
