<%= form_with(model: recommend_book) do |form| %>
  <% if recommend_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recommend_book.errors.count, "エラー") %> prohibited this recommend_book from being saved:</h2>

      <ul>
        <% recommend_book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "ISBN番号" %>
    <%= form.text_field :ISBN_number %>
  </div>

  <div class="field">
    <%= form.label "書籍名" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label "著者名" %>
    <%= form.text_field :author_name %>
  </div>

  <div class="field">
    <%= form.label "おすすめ理由" %>
    <%= form.text_field :recommend %>
  </div>

  <div class="field">
    <%= form.label "書籍表紙" %>
    <%= form.file_field :bookcover %>
  </div>

  <div class="field">
    <%= form.label "ID" %>
    <%= form.number_field :id_coppy %>
  </div>

  <div class="actions">
    <%= form.submit "登録"%>
  </div>
<% end %>
