<p id="notice"><%= notice %></p>

<h1>おすすめ本</h1>

<table class="table">
  <thead>
    <tr>
      <th>ISBN番号</th>
      <th>書籍名</th>
      <th>著者名</th>
      <th>おすすめ理由</th>
      <th>ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recommend_books.each do |recommend_book| %>
      <tr>
        <td><%= recommend_book.ISBN_number %></td>
        <td><%= recommend_book.title %></td>
        <td><%= recommend_book.author_name %></td>
        <td><%= recommend_book.recommend %></td>
        <td><%= recommend_book.id_coppy %></td>
        <td><%= button_to '詳細', recommend_book, {method: :get, class: 'btn btn-outline-dark'} %></td>
        <td><%= button_to '編集', edit_recommend_book_path(recommend_book), {method: :get, class: 'btn btn-outline-dark'} %></td>
        <td><%= button_to '削除', recommend_book, class: 'btn btn-outline-dark', method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', isbn_search_recommend_books_path %>
<%= link_to '戻る', admin_top_path %>