<p id="notice"><%= notice %></p>

<p>
  <strong>ISBN番号</strong>
  <%= @recommend_book.ISBN_number %>
</p>

<p>
  <strong>書籍名</strong>
  <%= @recommend_book.title %>
</p>

<p>
  <strong>著者名</strong>
  <%= @recommend_book.author_name %>
</p>

<p>
  <strong>おすすめ理由</strong>
  <%= @recommend_book.recommend %>
</p>

<p>
  <strong>IDコピー</strong>
  <%= @recommend_book.id_coppy %>
</p>

<p>
  <strong>ブックカバー</strong>
  <%= @recommend_book.bookcover %>
</p>

<%= link_to '編集', edit_recommend_book_path(@recommend_book) %> |
<%= link_to '戻る', recommend_books_path %>
