<%= form_with(model: new_book) do |form| %>
  <% if new_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(new_book.errors.count, "error") %> prohibited this new_book from being saved:</h2>

      <ul>
        <% new_book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "ISBN番号" %>
    <%= form.text_field :isbn_number %>
  </div>

  <div class="field">
    <%= form.label "書籍名" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label "著者名" %>
    <%= form.text_field :author_name %>
  </div>

  <div class="field">
    <%= form.label "入荷日" %>
    <%= form.date_select :arrival_day %>
  </div>

  <div class="field">
    <%= form.label "貸出" %>
    <%= form.number_field :lending %>
  </div>

  <div class="field">
    <%= form.label "冊数" %>
    <%= form.number_field :book_number %>
  </div>

  <div class="field">
    <%= form.label "ジャンル" %>
    <%= form.text_field :genre %>
  </div>

  <div class="actions">
    <%= form.submit "登録" %>
  </div>
<% end %>
