<p id="notice"><%= notice %></p>

<h1>新刊紹介一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th>ISBN番号</th>
      <th>書籍名</th>
      <th>著者名</th>
      <th>入荷日</th>
      <th>貸出</th>
      <th>冊数</th>
      <th>ジャンル</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @new_books.each do |new_book| %>
      <tr>
        <td><%= new_book.isbn_number %></td>
        <td><%= new_book.title %></td>
        <td><%= new_book.author_name %></td>
        <td><%= new_book.arrival_day %></td>
        <td>
          <% if new_book.lending == 0 %>
            <%= "可" %>
          <% elsif new_book.lending == 1 %>
            <%= "不可" %>
          <% end %>
        </td>
        <td><%= new_book.book_number %></td>
        <td><%= new_book.genre %></td>
        <td><%= link_to '詳細', new_book %></td>
        <td><%= link_to '編集', edit_new_book_path(new_book) %></td>
        <td><%= button_to '削除', new_book, class: 'btn btn-outline-dark', method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', isbn_search_new_books_path %>
