<p id="notice"><%= notice %></p>

<p>
  <strong>ISBN番号</strong>
  <%= @new_book.isbn_number %>
</p>

<p>
  <strong>書籍名</strong>
  <%= @new_book.title %>
</p>

<p>
  <strong>著者名</strong>
  <%= @new_book.author_name %>
</p>

<p>
  <strong>入荷日</strong>
  <%= @new_book.arrival_day %>
</p>

<p>
  <strong>貸出</strong>
  <%= @new_book.lending %>
</p>

<p>
  <strong>冊数</strong>
  <%= @new_book.book_number %>
</p>

<p>
  <strong>ジャンル</strong>
  <%= @new_book.genre %>
</p>

<p>
  <strong>ブックカバー</strong>
  <%= @new_book.bookcover %>
</p>
<% if request.referer&.include?("/new_books") %>
  <%= link_to '編集', edit_new_book_path(@new_book) %> |
  <%= link_to '戻る', new_books_path %>
<% else %>
  <%= link_to '戻る', new_book_sub_show_page_path %>
<% end %>