<p id="notice"><%= notice %></p>

<h1>処分本一覧</h1>

<table>
  <thead>
    <tr>
      <th>ISBN番号</th>
      <th>書籍名</th>
      <th>著者名</th>
      <th>状態</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dealings.each do |dealing| %>
      <tr>
        <td><%= dealing.isbn_number %></td>
        <td><%= dealing.title %></td>
        <td><%= dealing.author_name %></td>
        <td><%= dealing.condition %></td>
        <td><%= link_to '詳細', dealing %></td>
        <td><%= link_to '編集', edit_dealing_path(dealing) %></td>
        <td><%= link_to '削除', dealing, method: :delete, data: { confirm: 'ほんとにいいの？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_dealing_path %>
