<p id="notice"><%= notice %></p>

<p>
  <strong>ISBN番号</strong>
  <%= @dealing.isbn_number %>
</p>

<p>
  <strong>書籍名</strong>
  <%= @dealing.title %>
</p>

<p>
  <strong>著者名</strong>
  <%= @dealing.author_name %>
</p>

<p>
  <strong>状態</strong>
  <%= @dealing.condition %>
</p>

<%= link_to '編集', edit_dealing_path(@dealing) %> |
<%= link_to '戻る', dealings_path %>
