<h1>利用者トップページ</h1>

<% @random_new_books.each do |book| %>
<%= book.title %>
<br>
<% end %>

<div class="row p-5 ">
    <div class="col-12 col-sm-8 border">
        新刊紹介
        <div class="row border">
             <div class="col">
                <% @random_new_books.each do |new_book| %>
                <%= "ISBN番号 : " + new_book.isbn_number %><br>
                <%= "タイトル : " + new_book.title %><br>
                <%= "著者名 : " + new_book.author_name %><br>
                <%= "入刊日 : " +  new_book.arrival_day.to_s %><br>
                <% if new_book.lending == 0 %>
                    <%= "貸出 可/不 : " + "可" %>
                <% elsif new_book.lending == 1 %>
                    <%= "貸出 可/不 : " + "不" %>
                <% end %><br>
                <%= "在館冊数 : " +  new_book.book_number.to_s %><br>
                <%= "ジャンル : " +  new_book.genre %><br>
                <% end %>
             </div>
        </div>
        <div class="row border">
            <button class="col text-center btn btn-info m-3">もっと見る</button>
            <button class="col text-center btn btn-info m-3">リクエスト</button>
        </div>
        
        <div class="">
            図書館司書おすすめの本
            <div class="row border">
                <% @all_recommend_books.each do |recommend_book| %>
                    <div class="col">
                        <%= "ISBN番号 : " + recommend_book.ISBN_number %><br>
                        <%= "タイトル : " + recommend_book.title %><br>
                        <%= "著者名 : " + recommend_book.author_name %><br>
                        <%= "おすすめ理由 : " + recommend_book.recommend %><br>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="row border">
            <button class="col text-center btn btn-info m-3">設定</button>
            <button class="col text-center btn btn-info m-3">処分本リスト</button>
        </div>
    </div>

    <div class="col-12 col-sm-4 border">
        月間ランキング
        <div class="border"></div>
        <div>
            <%= "書籍名 : " + @first_rankings.title %><br>
            <%= "著者名 : " + @first_rankings.author_name %><br>
            <%= "ランキング : " + @first_rankings.book_rank.to_s %><br>
        </div>
        <div>
            <%= "書籍名 : " + @second_rankings.title %><br>
            <%= "著者名 : " + @second_rankings.author_name %><br>
            <%= "ランキング : " + @second_rankings.book_rank.to_s %><br>
        </div>
        <div>
            <%= "書籍名 : " + @third_rankings.title %><br>
            <%= "著者名 : " + @third_rankings.author_name %><br>
            <%= "ランキング : " + @third_rankings.book_rank.to_s %><br>
        </div>
    </div>
</div>











