<div class="top_header">
    <%= image_tag 'll_logo.png',:width => '220',:height => '110' %>
    <button onclick="location.href='/admin/top'">管理者ログインページ</button>
    <button onclick="location.href='/dealing/top.html'">処分本リスト</button>
    <button onclick="location.href='/requests/isbn_search'">新刊リクエスト</button>
</div>
<div class="row ">
    <div class="col-12 col-sm-8 border">
        <div class= "text-center h3">新刊紹介</div>
            <div class="border">
                <table class="tag">
                    <tr><td>
                        <table class="table_newbook">
                            <div>
                                <tr>
                                    <% if @random_new_books[0].bookcover.present? %>
                                        <td rowspan="7"><%= image_tag @random_new_books[0].bookcover, :width => '150' %></td>
                                    <% else %>
                                        <td rowspan="7"></td>
                                    <% end %>
                                    <th><span>ISBN番号 :</span></th><td><%=@random_new_books[0].isbn_number %></td></tr>
                                    <tr><th><span>タイトル :</span></th><td><%=@random_new_books[0].title %></td></tr>
                                    <tr><th>著者名 :</th><td><%= @random_new_books[0].author_name %></td></tr>
                                    <tr><th>入刊日 :</th><td><%= @random_new_books[0].arrival_day.to_s %></td></tr>
                                    <% if @random_new_books[0].lending == 0 %>
                                        <tr><th>貸出 可/不 :</th><td><span class="text-primary">可</span></td></tr>
                                    <% elsif @random_new_books[0].lending == 1 %>
                                        <tr><th>貸出 可/不 :</th><td><span class="text-danger">不</span></td></tr>
                                    <% end %><br>
                                    <tr><th>在館冊数 :</th><td><%= @random_new_books[0].book_number.to_s %></td></tr>
                                    <tr><th>ジャンル :</th><td><%=@random_new_books[0].genre %></td></tr>
                            </div>
                        </table>
                    </td>
                    <td>
                        <table class="table_newbook">
                            <div>
                                <tr>
                                    <% if @random_new_books[1].bookcover.present? %>
                                        <td rowspan="7"><%= image_tag @random_new_books[1].bookcover, :width => '150' %></td>
                                    <% else %>
                                        <td rowspan="7"></td>
                                    <% end %>
                                    <th><span>ISBN番号 :</span></th><td><%=@random_new_books[1].isbn_number %></td></tr>
                                    <tr><th><span>タイトル :</span></th><td><%=@random_new_books[1].title %></td></tr>
                                    <tr><th>著者名 :</th><td><%= @random_new_books[1].author_name %></td></tr>
                                    <tr><th>入刊日 :</th><td><%= @random_new_books[1].arrival_day.to_s %></td></tr>
                                    <% if @random_new_books[1].lending == 0 %>
                                        <tr><th>貸出 可/不 :</th><td><span class="text-primary">可</span></td></tr>
                                    <% elsif @random_new_books[1].lending == 1 %>
                                        <tr><th>貸出 可/不 :</th><td><span class="text-danger">不</span></td></tr>
                                    <% end %><br>
                                    <tr><th>在館冊数 :</th><td><%= @random_new_books[1].book_number.to_s %></td></tr>
                                    <tr><th>ジャンル :</th><td><%= @random_new_books[1].genre %></td></tr>
                            </div>
                        </table>
                    </td></tr>
                </table>
            </div>
      
        
        <div class="">
            <div class= " text-center h3">図書館司書おすすめの本</div>
            <div class="row border">
                <div class="row">
                    <div class="col p-3">
                        <div class="l-wrapper_02 card-radius_02">
                            <article class="card_02">
                                <div class="card__header_02">
                                <p class="card__title_02">
                                    <%= @first_recommend_book.title %><br><br>
                                </p>
                                <figure class="card__thumbnail_02">
                                <% if @first_recommend_book.bookcover.present? %>
                                        <td><%= image_tag @first_recommend_book.bookcover, :width => '150' %></td><br>
                                <% else %>
                                        <td></td> 
                                <% end %>
                                </figure>
                                </div>
                                <div class="card__body_02">
                                    <p class="card__text2_02"><%= @first_recommend_book.author_name %><br></p>
                                    <p class="card__text2_02"><%= "おすすめ理由 : " + @first_recommend_book.recommend %><br></p>
                                </div>   
                            </article>
                        </div>
                    </div>
                    
                    <div class="col p-3">
                        <div class="l-wrapper_02 card-radius_02">
                            <article class="card_02">
                                <div class="card__header_02">
                                <p class="card__title_02">
                                    <%= @second_recommend_book.title %><br><br>
                                </p>
                                <figure class="card__thumbnail_02">
                                <% if @second_recommend_book.bookcover.present? %>
                                        <td><%= image_tag @second_recommend_book.bookcover, :width => '150' %></td><br>
                                <% else %>
                                        <td></td> 
                                <% end %>
                                </figure>
                                </div>
                                <div class="card__body_02">
                                    <p class="card__text2_02"><%= @second_recommend_book.author_name %><br></p>
                                    <p class="card__text2_02"><%= "おすすめ理由 : " + @second_recommend_book.recommend %><br></p>
                                </div>   
                            </article>
                        </div>
                    </div>
                    <div class="col p-3">
                        <div class="l-wrapper_02 card-radius_02">
                            <article class="card_02">
                                <div class="card__header_02">
                                <p class="card__title_02">
                                    <%= @third_recommend_book.title %><br><br>
                                </p>
                                <figure class="card__thumbnail_02">
                                <% if @third_recommend_book.bookcover.present? %>
                                        <td><%= image_tag @third_recommend_book.bookcover, :width => '150' %></td><br>
                                <% else %>
                                        <td></td> 
                                <% end %>
                                </figure>
                                </div>
                                <div class="card__body_02">
                                    <p class="card__text2_02"><%= @third_recommend_book.author_name %><br></p>
                                    <p class="card__text2_02"><%= "おすすめ理由 : " + @third_recommend_book.recommend %><br></p>
                                </div>   
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
    </div>

    
    <div class="col-12 col-sm-4 border d-flex flex-column bd-highlight">
            <div class="text-center h3">月間ランキング</div>
            <div class="p-2 bd-highlight">
                <table class="tag border p-4 table_ranking">
                    <tr>
                        <% if @first_rankings.bookcover.present? %>
                            <td rowspan="4"><%= image_tag @first_rankings.bookcover, :width => '150' %></td>
                        <% end %>
                        <br>

                        <th>ISBN番号 :</th><td><%=@first_rankings.isbn_number %></td>
                    </tr>
                        <tr>
                            <th>書籍名 :</th><td><%= @first_rankings.title %></td>
                        </tr>
                        <tr>
                            <th>著者名 :</th><td><%=@first_rankings.author_name %></td>
                        </tr>
                        <tr>
                            <th>ランキング :</th><td><%=@first_rankings.book_rank.to_s %></td>
                        </tr>
                </table>
            </div>
            <div class="p-2 bd-highlight">
                <table class="tag border p-4 table_ranking">
                    <tr>
                        <% if @second_rankings.bookcover.present? %>
                            <td rowspan="4"><%= image_tag @second_rankings.bookcover, :width => '150' %></td>
                        <% end %>
                        <br>

                        <th>ISBN番号 :</th><td><%=@second_rankings.isbn_number %></td>
                    </tr>
                        <tr>
                            <th>書籍名 :</th><td><%= @second_rankings.title %></td>
                        </tr>
                        <tr>
                            <th>著者名 :</th><td><%=@second_rankings.author_name %></td>
                        </tr>
                        <tr>
                            <th>ランキング :</th><td><%=@second_rankings.book_rank.to_s %></td>
                        </tr>
                </table>
            </div>
            <div class="p-2 bd-highlight">
                <table class="tag border p-4 table_ranking">
                    <tr>
                        <% if @third_rankings.bookcover.present? %>
                            <td rowspan="4"><%= image_tag @third_rankings.bookcover, :width => '150' %></td>
                        <% end %>
                        <br>
                        <th>ISBN番号 :</th><td><%=@third_rankings.isbn_number %></td>
                    </tr>
                    <tr>
                        <th>書籍名 :</th><td><%= @third_rankings.title %></td>
                    </tr>
                    <tr>
                        <th>著者名 :</th><td><%=@third_rankings.author_name %></td>
                    </tr>
                    <tr>
                        <th>ランキング :</th><td><%=@third_rankings.book_rank.to_s %></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
