
<%= form_with(model: request) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
        <% request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "著者名" %>
    <%= form.text_field :author_name %>
  </div>

  <div class="field">
    <%= form.label "書籍名" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label "ISBN番号" %>
    <%= form.text_field :isbn_number %>
  </div>

  <div class="field">
    <%= form.label "リクエスト理由" %>
    <%= form.text_field :reason %>
  </div>

  <div class="field">
    <%= form.label "学年" %>
    <%= form.text_field :grade %>
  </div>

  <div class="field">
    <%= form.label "組" %>
    <%= form.text_field :kumi %>
  </div>

  <div class="field">
    <%= form.label "出席番号" %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label "名前" %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "登録" %>
  </div>
<% end %>
