<p id="notice"><%= notice %></p>

<h1>新刊リクエスト</h1>

<table>
  <thead>
    <tr>
      <th>ISBN番号</th>
      <th>書籍名</th>
      <th>著者名</th>
      <th>リクエスト理由</th>
      <th>学年</th>
      <th>組</th>
      <th>出席番号</th>
      <th>名前</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.isbn_number %></td>
        <td><%= request.title %></td>
        <td><%= request.author_name %></td>
        <td><%= request.reason %></td>
        <td><%= request.grade %></td>
        <td><%= request.kumi %></td>
        <td><%= request.number %></td>
        <td><%= request.name %></td>
        <td><%= link_to '詳細', request %></td>
        <td><%= link_to '編集', edit_request_path(request) %></td>
        <td><%= button_to '削除', request, class: 'btn btn-outline-dark', method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', isbn_search_requests_path %>
