<p id="notice"><%= notice %></p>

<p>
  <strong>ISBN番号</strong>
  <%= @request.isbn_number %>
</p>

<p>
  <strong>書籍名</strong>
  <%= @request.title %>
</p>

<p>
  <strong>著者名</strong>
  <%= @request.author_name %>
</p>

<p>
  <strong>リクエスト理由</strong>
  <%= @request.reason %>
</p>

<p>
  <strong>学年</strong>
  <%= @request.grade %>
</p>

<p>
  <strong>組</strong>
  <%= @request.kumi %>
</p>

<p>
  <strong>出席番号</strong>
  <%= @request.number %>
</p>

<p>
  <strong>名前</strong>
  <%= @request.name %>
</p>
<% if request.referer&.include?("http://localhost:3000/requests/new?isbn") %>
<%= link_to '戻る',  home_main_top_path  %>
 
<% else %>
   <%= link_to '編集', edit_request_path(@request) %> |
  <%= link_to '戻る', requests_path %>
<% end %>

